@model IEnumerable<Trajet>


<h1 class="text-center">Résultat de la recherche</h1>
@if (!Model.Any())
{
    <div class="alert alert-danger" role="alert">
        Aucun résultat ne correspond à votre recherche.
    </div>
}

<div class="row">
    @foreach (Trajet trajet in Model)
    {
    <div class="col">
        @Html.Partial("AnnonceTicket", trajet)
    </div>
    }
</div>
