html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.blue_bg{
    background-color: rgb(0, 175, 245);
}
.white_bg{
    background-color: rgb(255, 255, 255);
}
